@inherits UpdatesBase
@page "/updates"

<h1>Updates</h1>
<h3 class="text-secondary">SignalR Demo</h3>

<p>This component demonstrates receiving broadcast messages from a SignalR hub.</p>

<table class="table">
    <thead>
        <tr>
            <th>Status Updates</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var update in Updates)
        {
            <tr>
                <td>@update</td>
            </tr>
        }
    </tbody>
</table>

<p />

<button class="btn btn-primary" @onclick="UpdatesClicked">@UpdatesButtonLabel Updates</button>

<p />

<div>
    <div class="alert-danger" hidden="@NoErrorMessage">@ErrorMessage</div>
    <div class="alert-danger" hidden="@NoConnectionIssues">No Connection, Attempting to Reconnect</div>
</div>
